.popover {
	box-shadow: 0 3px 5px rgba(#000, .1);
}

.popover-title {
  padding: 12px 18px;
  border-bottom: none;
  font-weight: 600;
}

.popover-content {
  padding: 12px 18px;
}

// Base class
.tooltip-inner {
  border-radius: 2px;
  padding: 5px 10px;
}
