<?xml version="1.0"?>
<humans>
    <users>
		<!-- Versi & Tmp -->
        <id>1</id>
        <tmp>tmp 15</tmp>
        <lg>tmp 51</lg>
        <v>RQ.2020.04</v>
		
		<!-- Meta -->
		<charset>utf-8</charset>
		<keywords>a7q2t/8Zu40WenRvhLId9cFbEn8HOp9E8ociVLS/oJq7RPuOiKaN/DVrLQn7N8fgP0bbq/Q7TWDRuq61O7eh6exzO9vGgtbR/4gT28yHD23IxsnN3SyGotU3u2LscVoA</keywords>
		<description>2FM7SRWt0uvdB7Ryoj4TJH4NSuNMWGERXrtfSCga3fJeKPK4cTc8WgpgR0GxQI8BspkHbSPRnhzYF8lzPPV6l3FVfdri5+0s9AyxoGAa1jV45HToNJFWQUPC8wHnBquAtnxqfzszFHaTfYXWu47BAQYROfMxdvpZROn68Q/Q4osYAh/9+HCwkmzq7+werr0SP0y2v1xMlPdkUFEa0cLQ6Q==</description>
		<Author>ntivp4ixhpeSIUmQdRHlS3EhWXG9WWCXzrY9aI1hTLs=</Author>
		<icon>../../../data/image/logo/logo.png</icon>
		<situs>8LcYgfAGW1OxDfULtYEvRTh0BajF1R3FTR70tSj51TE=</situs>
		
		<!-- Settings Aplikasi -->
		<logo>../../../data/image/logo/logo.png</logo>
		<imageerror>../../../data/image/error/file.png</imageerror>
		<avatar>../../../data/image/avatar/avatar11.png</avatar>
		<background>../../../data/image/background/background1.png</background>
		<bg_login>../data/image/background/bglogin.png</bg_login>
		
		<slide1>admin/data/image/background/background1.png</slide1>
		<slide2>admin/data/image/background/background1.png</slide2>
		<slide3>admin/data/image/background/background1.png</slide3>
		
		<judul>Absensi Wajah </judul>
		<objek>Absensi Wajah </objek>
		<alamat>Indonesia</alamat>
		<telepon>074121446</telepon>
		<email>facerecognitionSB3@gmail.com</email>
		
		<facebook>#</facebook>
		<google>#</google>
		<twitter>#</twitter>
		<instagram>#</instagram>
		<linkedin>#</linkedin>
		<youtube>#</youtube>
		<maps_x>#</maps_x>
		<maps_y>#</maps_y>
		
		<nama_aplikasi>Absensi Wajah </nama_aplikasi>
		<keterangan_aplikasi>%keterangan_aplikasi</keterangan_aplikasi>
		<tahun>2020</tahun>
		<copyright>CopyRight © 2020 - absensi wajah </copyright>
		
		<c_siapa>jenenge</c_siapa>
		<siapa>Administrator</siapa>
		<sambutan>Selamat Datang siapa Di Aplikasi br judul</sambutan>
		
		<!-- Settings Tampilan -->
		<meta_head>1</meta_head>
		<combosearch>0</combosearch>
		<grafik>1</grafik>
		<kata_sambutan>1</kata_sambutan>
		<gambar_background>1</gambar_background>
		<menu_setting>1</menu_setting>
		<menu_admin>1</menu_admin>
		<ckeditor>1</ckeditor>
		<popup>1</popup>
		<seo>0</seo>
		<ekstensi_dilarang>php','asp','sql','js','css','py','php4</ekstensi_dilarang>
		<classe></classe>
		
		<!-- Settings Laporan -->
		<logo_laporan1>../../../data/image/logo/logo.png</logo_laporan1>
		<logo_laporan2>../../../data/image/logo/logo.png</logo_laporan2>
		<ttd>TTD</ttd>
		<wilayah>Indonesia</wilayah>
		
		<!-- Login -->
		<tabel_login>data_admin</tabel_login>
		<field_username_login>username</field_username_login>
		<field_password_login>password</field_password_login>
		<pesan_gagal>Username/Password yang anda masukan salah..!</pesan_gagal>
		<url_desain>desain-bootstrap.php</url_desain>
		
		
    </users>
</humans>
